:host ::ng-deep .mdc-text-field {
  background-color: transparent !important;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: black !important;
}

::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: black !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.small-title{
  letter-spacing: 1px;
  font-size: 12px;
}
